<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity
            android:name=".CardDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_card_details"
            android:theme="@style/BaseTheme.NoActionBar" />
        <activity
            android:name=".ui.PlayerHandActivity"
            android:label="@string/title_activity_player_hand" />
        <activity
            android:name=".ui.AddCardActivity"
            android:label="@string/title_activity_add_card" />
        <activity
            android:name=".ui.CardDetailsActivity"
            android:label="@string/title_activity_card_details" />
        <activity
            android:name=".ui.PlayerOverviewActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>